<div class="panel panel-primary">

  <div class="panel-heading"><%= form_hdg %></div>
  <div class="panel-body">
    <%= simple_form_for @post do |f| %>
      <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |error| %>
          <%= js add_gritter(error, title: "Gritter-Man", sticky: false) %>
        <% end %>
      <% end %>
      <%= f.input :date %>
      <%= f.input :rationale, label: 'Rationale', placeholder: 'Explanation for overtime.' %>
      <%= render partial: 'status', locals: { f: f } if current_user.type == 'AdminUser' %>
      <div class = 'form-group'>
        <%= f.button :submit , class: 'btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
<br>
<%= link_to 'Back', posts_path %>



